# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

vacation = pd.read_csv("clean_city_data")
vacation.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hithadhoo,-0.60,73.08,82.40,74,100,15.41,MV,1595701332
1,1,kaeo,-35.10,173.78,45.00,3,2,1.99,NZ,1595701332
2,2,broome,42.25,-75.83,82.76,51,20,3.36,US,1595701332
3,3,margate,51.38,1.39,63.00,99,100,4.00,GB,1595701275
4,4,butaritari,3.07,172.79,83.30,73,14,16.02,KI,1595701333

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
from api_keys import g_key

gmaps.configure(api_key=g_key)


# Store 'Lat' and 'Lng' into  locations 
locations = vacation[["Lat", "Lng"]].astype(float)
humidity = vacation["Humidity"]

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json

hotel_df = vacation[["Lat", "Lng", "City", "Country"]]

                              
hotel_df["Hotel Name"] = ""
                    
hotel_df.head()

/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     Lat     Lng        City Country Hotel Name
0  -0.60   73.08   hithadhoo      MV
1 -35.10  173.78        kaeo      NZ
2  42.25  -75.83      broome      US
3  51.38    1.39     margate      GB
4   3.07  172.79  butaritari      KI

In [ ]:

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [15]:
For x in vacation
    hotel.insert["Lat"]

SyntaxError: invalid syntax (<ipython-input-15-c8ca8a191b89>, line 1)

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure